<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{107,89}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{107,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{107,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{107,91}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{109,91}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{103,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{103,95}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{105,95}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{105,95}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{107,101}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{107,101}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner_wolf.png</string>
            <key>size</key>
            <string>{113,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d41348c9806e74541fa2fd436de979:fbeaf1ed4c10567ad7c6aae020b4a8c8:6796c0c2e84590eb10de6ae753e4a502$</string>
            <key>textureFileName</key>
            <string>runner_wolf.png</string>
        </dict>
    </dict>
</plist>
