<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{72,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{74,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{76,74}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{76,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{82,74}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{82,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,82},{82,76}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,82},{76,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner_leafgirl.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9528641b32a6cf1e8a142b43c476a0$</string>
            <key>textureFileName</key>
            <string>runner_leafgirl.png</string>
        </dict>
    </dict>
</plist>
