<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{56,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>redbear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,162},{48,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{48,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>redbear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{56,74}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{56,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>redbear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{56,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{56,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>redbear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,80},{50,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{50,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>redbear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{56,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner_redbear.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4995bb6348b6416837ccaec879432aee$</string>
            <key>textureFileName</key>
            <string>runner_redbear.png</string>
        </dict>
    </dict>
</plist>
