<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluehat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{68,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{68,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bluehat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{70,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bluehat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,80},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bluehat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bluehat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bluehat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner_bluehat.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9d678bec2025836722386b75b66e1cc$</string>
            <key>textureFileName</key>
            <string>runner_bluehat.png</string>
        </dict>
    </dict>
</plist>
