<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thunder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,84}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>thunder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,86}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{64,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>thunder_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,84}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{62,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>thunder_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{64,84}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>thunder_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,90},{64,86}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>thunder_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,90},{60,84}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner_thunder.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8417aba2f14d7ef8c65f9dcf9217bd10$</string>
            <key>textureFileName</key>
            <string>runner_thunder.png</string>
        </dict>
    </dict>
</plist>
