<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hamerbear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{72,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hamerbear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{66,74}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{66,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hamerbear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{60,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{60,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hamerbear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{62,70}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{62,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hamerbear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,78},{64,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{64,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hamerbear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,78},{66,72}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{66,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner_hamerbear.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5849842e31c60a2c62342ad9bebf402$</string>
            <key>textureFileName</key>
            <string>runner_hamerbear.png</string>
        </dict>
    </dict>
</plist>
